# Fivestar Major Metrics

This notebook is to show the major metrics of FiveStar, and display the timeline for each major metric.

## Major Metrics

In [77]:
import MySQLdb
conn = MySQLdb.connect(host='qa-rds.cga0dqtgwsqk.us-west-2.rds.amazonaws.com', user='root', db='y-upster', passwd='oceanwing')
cursor = conn.cursor()

import plotly.plotly as py
import plotly.graph_objs as go
py.sign_in('FangwenYu', 'in8lq23u70')

def format_ds(ds):
    return '{}/{}/{}'.format(ds[:4], ds[4:6], ds[6:])

# Metric Name
cursor.execute("select metric_name from report_fs_metric_stats where ds='20160219' order by seq")
metric_names = cursor.fetchall()
data = {}
data['Metric Name'] = [value[0] for value in metric_names]
columns = ['Metric Name']
cursor.execute('select distinct ds from report_fs_metric_stats order by ds')
ds_list = cursor.fetchall()

for ds in ds_list:
    curr_ds = ds[0]
    sql = "select metric_value from report_fs_metric_stats where ds='{}' order by seq".format(curr_ds)
    cursor.execute(sql)
    values= cursor.fetchall()
    data[curr_ds] = [value[0] for value in values]   
    columns.append(curr_ds)

import pandas as pd
df = pd.DataFrame(data, columns=columns)
df.head(20)

,Metric Name,20160219,20160226,20160304,20160311
0,Store Count,8945,9033,9053,9101
1,New Store Count,8945,186,182,179
2,Lose Store Count,0,98,162,131
3,Delta Store Count,8945,88,20,48
4,Merchant Count,7029,7084,7088,7125
5,New Merchant Count,7029,144,141,153
6,Lose Merchant Count,0,89,137,116
7,Delta Merchant Count,7029,55,4,37
8,Counry Count,3,3,3,3
9,New Country Count,3,0,0,0
10,Lose Country Count,0,0,0,0
11,Delta Country Count,3,0,0,0
12,City Count,2304,2315,2307,2311
13,New City Count,2304,26,27,32
14,Lose City Count,0,13,34,27
15,Delta City Count,2304,13,-7,5
16,Memberships,11821996,11960521,12100630,12263345
17,Delta Memberships,NaN,138525,140109,162715
18,Stores with Social Network,2550,2566,2590,2605
19,Delta Stores with Social Netork,NaN,16,24,15

## Metric Timeline

### 1. Store Count

In [78]:
metric_name='Store Count'
sql = """select ds as "Report Date", metric_value as "{}" from report_fs_metric_stats where metric_name='{}' order by ds"""
cursor.execute(sql.format(metric_name, metric_name))
store_cnt = cursor.fetchall()
metric_values = [[format_ds(value[0]), value[1]] for value in store_cnt]

df = pd.DataFrame(metric_values, columns=['Report Date', metric_name])
df.head(20)

  Report Date  Store Count
0  2016/02/19         8945
1  2016/02/26         9033
2  2016/03/04         9053
3  2016/03/11         9101

In [79]:
trace = go.Scatter(
    x = df['Report Date'],
    y = df[metric_name],
    mode = 'lines+markers'
)

data = [trace]

# Edit the layout
layout = dict(title = 'Fivestar {} Timeline'.format(metric_name),
              xaxis = dict(title = 'Report Date'),
              yaxis = dict(title = metric_name),
              )

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='FS {} Timeline'.format(metric_name))

### 2. Merchat Count

In [67]:
metric_name='Merchant Count'
sql = """select ds as "Report Date", metric_value as "{}" from report_fs_metric_stats where metric_name='{}' order by ds"""
cursor.execute(sql.format(metric_name, metric_name))
store_cnt = cursor.fetchall()
metric_values = [[format_ds(value[0]), value[1]] for value in store_cnt]

df = pd.DataFrame(metric_values, columns=['Report Date', metric_name])
df.head(20)

  Report Date  Merchant Count
0  2016/02/19            7029
1  2016/02/26            7084
2  2016/03/04            7088
3  2016/03/11            7125

In [70]:
trace = go.Scatter(
    x = df['Report Date'],
    y = df[metric_name],
    mode = 'lines+markers'
)

data = [trace]

# Edit the layout
layout = dict(title = 'Fivestar {} Timeline'.format(metric_name),
              xaxis = dict(title = 'Report Date'),
              yaxis = dict(title = metric_name),
              )

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='FS {} Timeline'.format(metric_name))

### 3. Membership Count

In [72]:
metric_name='Memberships'
sql = """select ds as "Report Date", metric_value as "{}" from report_fs_metric_stats where metric_name='{}' order by ds"""
cursor.execute(sql.format(metric_name, metric_name))
store_cnt = cursor.fetchall()
metric_values = [[format_ds(value[0]), value[1]] for value in store_cnt]

df = pd.DataFrame(metric_values, columns=['Report Date', metric_name])
df.head(20)

  Report Date  Memberships
0  2016/02/19     11821996
1  2016/02/26     11960521
2  2016/03/04     12100630
3  2016/03/11     12263345

In [73]:
trace = go.Scatter(
    x = df['Report Date'],
    y = df[metric_name],
    mode = 'lines+markers'
)

data = [trace]

# Edit the layout
layout = dict(title = 'Fivestar {} Timeline'.format(metric_name),
              xaxis = dict(title = 'Report Date'),
              yaxis = dict(title = metric_name),
              )

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='FS {} Timeline'.format(metric_name))

### 4. City Count

In [74]:
metric_name='City Count'
sql = """select ds as "Report Date", metric_value as "{}" from report_fs_metric_stats where metric_name='{}' order by ds"""
cursor.execute(sql.format(metric_name, metric_name))
store_cnt = cursor.fetchall()
metric_values = [[format_ds(value[0]), value[1]] for value in store_cnt]

df = pd.DataFrame(metric_values, columns=['Report Date', metric_name])
df.head(20)

  Report Date  City Count
0  2016/02/19        2304
1  2016/02/26        2315
2  2016/03/04        2307
3  2016/03/11        2311

In [75]:
trace = go.Scatter(
    x = df['Report Date'],
    y = df[metric_name],
    mode = 'lines+markers'
)

data = [trace]

# Edit the layout
layout = dict(title = 'Fivestar {} Timeline'.format(metric_name),
              xaxis = dict(title = 'Report Date'),
              yaxis = dict(title = metric_name),
              )

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='FS {} Timeline'.format(metric_name))