In [1]:
from IPython.display import HTML
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
The raw code for this IPython notebook is by default hidden for easier reading.
To toggle on/off the raw code, click <a href="javascript:code_toggle()">here</a>.''')

# Fivestars Store by City
Lists top cities in Fivestars from the perspective of store count number.

# Store Count by Business Category

In [2]:
import MySQLdb
import os
host = os.environ["FS_MYSQL_HOST"]
user = os.environ["FS_MYSQL_USER"]
db = os.environ["FS_MYSQL_DB"]
passwd = os.environ["FS_MYSQL_PASSWD"]

conn = MySQLdb.connect(host=host, user=user, db=db, passwd=passwd)
cursor = conn.cursor()

import plotly.plotly as py
import plotly.graph_objs as go
py.sign_in('FangwenYu', 'in8lq23u70')

def format_ds(ds):
    return '{}/{}/{}'.format(ds[:4], ds[4:6], ds[6:])

cursor.execute("select category from report_fs_store_by_category_stats where ds='20160219' order by category")
categories = cursor.fetchall()
data = {}
data['Business Category'] = [value[0] for value in categories]
columns = ['Business Category']
cursor.execute('select distinct ds from report_fs_store_by_category_stats order by ds')
ds_list = cursor.fetchall()


report_date = []
for ds in ds_list:
    curr_ds = ds[0]
    report_date.append(format_ds(curr_ds))
    sql = "select store_cnt from report_fs_store_by_category_stats where ds='{}' order by category".format(curr_ds)
    cursor.execute(sql)
    values= cursor.fetchall()
    data[curr_ds] = [value[0] for value in values]   
    columns.append(curr_ds)

import pandas as pd
df = pd.DataFrame(data, columns=columns)
df.head(50)

         Business Category  20160219  20160226  20160304  20160311
0     Arts & Entertainment       166       170       165       164
1               Automotive       110       111       109       117
2                 Bakeries       135       134       133       138
3            Beauty & Spas       551       567       565       567
4             Coffee & Tea       493       495       498       509
5                 Desserts       350       351       348       352
6                   Diners       943       961       955       961
7    Fitness & Instruction       216       215       218       220
8       Formal Restaurants      1517      1525      1529      1527
9          General Retails      2204      2209      2230      2242
10        Health & Medical        60        60        60        59
11         Hotels & Travel         9         9         8         8
12  Juice Bars & Smoothies        75        76        77        78
13           Mobile Phones        95       109       124       124
14               Nightlife       190       192       189       187
15              Pet Stores       102       102       100       100
16   Professional Services       198       199       199       201
17           Tobacco Shops       392       406       407       407
18              Vape Shops      1139      1142      1139      1140

In [48]:
df2 = df.transpose()
data = []
for category in df2.columns:
    trace = go.Scatter(
        x = report_date,
        y = df2[category].tolist()[1:],
        name = df2[category].tolist()[0],
        mode = 'lines+markers'
    )
    data.append(trace)

    
layout = dict(title = 'Store Count by Business Category',
              xaxis = dict(title = "Report Date"),
              yaxis = dict(title = 'Store Count'),
             )

fig = dict(data=data, layout=layout)
py.iplot(data, filename='FS Store Count by Business Category Timeline')

# import plotly
# plotly.offline.plot(fig, filename='test.html')

## Store New Count Timeline

In [56]:
cursor.execute("select distinct ds from report_fs_store_change_stats where op_flag='New' and ds > '20160219' order by ds")
ds_list = cursor.fetchall()

cursor.execute("select distinct yelp_sub_category from stage_fs_yelp_category_mapping order by yelp_sub_category")
categories = cursor.fetchall()
data = {}
data['Business Category'] = [value[0] for value in categories]
columns = ['Business Category']

for ds in ds_list:
    curr_ds = ds[0]
    sql = """
select a.yelp_sub_category, case when b.store_cnt is null then 0 else b.store_cnt end as store_cnt
from 
(
select distinct yelp_sub_category from stage_fs_yelp_category_mapping
) a 
left join 
(
select yelp_sub_category, count(*) as store_cnt 
from report_fs_store_change_stats 
where op_flag = 'New'
and   ds = '{}'
group by ds, yelp_sub_category
) b
on a.yelp_sub_category = b.yelp_sub_category
order by a.yelp_sub_category
""".format(curr_ds)
    
    cursor.execute(sql)
    values= cursor.fetchall()
    data[curr_ds] = [value[1] for value in values]   
    columns.append(curr_ds)

import pandas as pd
df = pd.DataFrame(data, columns=columns)
df.head(50)

         Business Category  20160226  20160304  20160311
0     Arts & Entertainment         4         1         1
1               Automotive         4         4        14
2                 Bakeries         1         3         8
3            Beauty & Spas        24        14        11
4             Coffee & Tea         8         6        15
5                 Desserts         5         3         7
6                   Diners        26         9        19
7    Fitness & Instruction         2         7         3
8       Formal Restaurants        29        24        24
9          General Retails        31        54        42
10        Health & Medical         1         1         1
11         Hotels & Travel         0         0         0
12  Juice Bars & Smoothies         1         2         1
13           Mobile Phones        14        18         1
14               Nightlife         4         3         4
15              Pet Stores         1         3         3
16   Professional Services         7         5         4
17           Tobacco Shops        15         7         7
18              Vape Shops         9        18        14

## Store Lose Count Timeline

In [57]:
cursor.execute("select distinct ds from report_fs_store_change_stats where op_flag='Lose' and ds > '20160219' order by ds")
ds_list = cursor.fetchall()

cursor.execute("select distinct yelp_sub_category from stage_fs_yelp_category_mapping order by yelp_sub_category")
categories = cursor.fetchall()
data = {}
data['Business Category'] = [value[0] for value in categories]
columns = ['Business Category']

for ds in ds_list:
    curr_ds = ds[0]
    sql = """
select a.yelp_sub_category, case when b.store_cnt is null then 0 else b.store_cnt end as store_cnt
from 
(
select distinct yelp_sub_category from stage_fs_yelp_category_mapping
) a 
left join 
(
select yelp_sub_category, count(*) as store_cnt 
from report_fs_store_change_stats 
where op_flag = 'Lose'
and   ds = '{}'
group by ds, yelp_sub_category
) b
on a.yelp_sub_category = b.yelp_sub_category
order by a.yelp_sub_category
""".format(curr_ds)
    
    cursor.execute(sql)
    values= cursor.fetchall()
    data[curr_ds] = [value[1] for value in values]   
    columns.append(curr_ds)

import pandas as pd
df = pd.DataFrame(data, columns=columns)
df.head(50)

         Business Category  20160226  20160304  20160311
0     Arts & Entertainment         0         6         2
1               Automotive         3         6         6
2                 Bakeries         2         4         3
3            Beauty & Spas         8        16         9
4             Coffee & Tea         6         3         4
5                 Desserts         4         6         3
6                   Diners         8        15        13
7    Fitness & Instruction         3         4         1
8       Formal Restaurants        21        20        26
9          General Retails        26        33        30
10        Health & Medical         1         1         2
11         Hotels & Travel         0         1         0
12  Juice Bars & Smoothies         0         1         0
13           Mobile Phones         0         3         1
14               Nightlife         2         6         6
15              Pet Stores         1         5         3
16   Professional Services         6         5         2
17           Tobacco Shops         1         6         7
18              Vape Shops         6        21        13

## Top 20 Cities that have most stores

In [20]:
cursor.execute("""select ds as "Report Date", country as "Country", state as "State", city as "City", store_cnt as "Store Count" from 
report_fs_store_by_city_stats where category = 'Top20_cnt' order by ds desc, store_cnt desc limit 100""")
cities = cursor.fetchall()
data = [[item for item in value] for value in cities]
columns = ['Report Date', 'Country', 'State', 'City', 'Store Count']

import pandas as pd

# pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

df = pd.DataFrame(data, columns=columns)
df.head(100)

   Report Date Country State              City  Store Count
0     20160311      CA    ON           Toronto          204
1     20160311      US    IL           Chicago          134
2     20160311      US    TX            Austin          127
3     20160311      US    CA     San Francisco          121
4     20160311      US    CA         San Diego          115
5     20160311      US    CA       Los Angeles          109
6     20160311      US    TX           Houston           97
7     20160311      US    FL             Miami           92
8     20160311      US    OR          Portland           89
9     20160311      US    CA          San Jose           88
10    20160311      US    WA           Seattle           81
11    20160311      US    TX            Dallas           73
12    20160311      US    CO            Denver           68
13    20160311      CA    MB          Winnipeg           56
14    20160311      US    AZ           Phoenix           54
15    20160311      US    CO  Colorado Springs           50
16    20160311      CA    ON       Mississauga           49
17    20160311      CA    AB           Calgary           46
18    20160311      US    WA            Tacoma           46
19    20160311      US    HI          Honolulu           43
20    20160304      CA    ON           Toronto          207
21    20160304      US    IL           Chicago          138
22    20160304      US    TX            Austin          123
23    20160304      US    CA     San Francisco          122
24    20160304      US    CA         San Diego          120
25    20160304      US    CA       Los Angeles          109
26    20160304      US    TX           Houston           93
27    20160304      US    FL             Miami           90
28    20160304      US    CA          San Jose           87
29    20160304      US    OR          Portland           87
30    20160304      US    WA           Seattle           80
31    20160304      US    TX            Dallas           73
32    20160304      US    CO            Denver           69
33    20160304      CA    MB          Winnipeg           56
34    20160304      US    AZ           Phoenix           53
35    20160304      US    CO  Colorado Springs           51
36    20160304      CA    ON       Mississauga           48
37    20160304      US    WA            Tacoma           46
38    20160304      CA    AB           Calgary           46
39    20160304      US    HI          Honolulu           41
40    20160226      CA    ON           Toronto          209
41    20160226      US    IL           Chicago          135
42    20160226      US    CA     San Francisco          125
43    20160226      US    TX            Austin          123
44    20160226      US    CA         San Diego          120
45    20160226      US    CA       Los Angeles          108
46    20160226      US    TX           Houston           95
47    20160226      US    FL             Miami           88
48    20160226      US    OR          Portland           87
49    20160226      US    CA          San Jose           85
50    20160226      US    WA           Seattle           80
51    20160226      US    TX            Dallas           72
52    20160226      US    CO            Denver           70
53    20160226      CA    MB          Winnipeg           56
54    20160226      US    CO  Colorado Springs           52
55    20160226      US    AZ           Phoenix           52
56    20160226      CA    ON       Mississauga           47
57    20160226      CA    AB           Calgary           46
58    20160226      US    WA            Tacoma           46
59    20160226      US    AZ            Tucson           41
60    20160219      CA    ON           Toronto          208
61    20160219      US    IL           Chicago          134
62    20160219      US    CA     San Francisco          125
63    20160219      US    TX            Austin          122
64    20160219      US    CA         San Diego          119
65    20160219      US    CA       Los Angeles          107
66    20160219      US    TX           Houston           91
67    20160219      US    FL             Miami           87
68    20160219      US    CA          San Jose           86
69    20160219      US    OR          Portland           86
70    20160219      US    WA           Seattle           79
71    20160219      US    TX            Dallas           71
72    20160219      US    CO            Denver           70
73    20160219      CA    MB          Winnipeg           56
74    20160219      US    CO  Colorado Springs           53
75    20160219      US    AZ           Phoenix           51
76    20160219      CA    ON       Mississauga           48
77    20160219      US    WA            Tacoma           46
78    20160219      CA    AB           Calgary           46
79    20160219      US    CA             Chico           41

## Top 20 Cities that have new stores

In [6]:
cursor.execute("""select ds as "Report Date", country as "Country", state as "State", city as "City", store_cnt as "Store Count" from 
report_fs_store_by_city_stats where category = 'Top20_New' order by ds desc, store_cnt desc limit 100""")
cities = cursor.fetchall()
data = [[item for item in value] for value in cities]
columns = ['Report Date', 'Country', 'State', 'City', 'Store Count']

df = pd.DataFrame(data, columns=columns)
df.head(100)

   Report Date Country State              City  Store Count
0     20160311      US    FL    Pembroke Pines            6
1     20160311      US    NY          New York            5
2     20160311      US    TX           Houston            4
3     20160311      US    TX            Austin            4
4     20160311      US    CO            Aurora            3
5     20160311      US    CA       San Gabriel            3
6     20160311      US    CA             Chico            2
7     20160311      CA    ON         Kitchener            2
8     20160311      US    TX     New Braunfels            2
9     20160311      US    FL             Miami            2
10    20160311      US    CA        Long Beach            2
11    20160311      US    HI          Honolulu            2
12    20160311      US    NV         Las Vegas            2
13    20160311      US    NY            Beacon            2
14    20160311      US    OR          Portland            2
15    20160311      US    TX           Baytown            2
16    20160311      US    IL           Manteno            1
17    20160311      US    TX        Georgetown            1
18    20160311      US    CA       Granite Bay            1
19    20160311      US    NH            Hudson            1
20    20160304      US    HI          Honolulu            6
21    20160304      US    OK     Oklahoma City            6
22    20160304      US    OK             Tulsa            4
23    20160304      US    AZ        Scottsdale            4
24    20160304      US    MD       Glen Burnie            3
25    20160304      CA    SK         Saskatoon            3
26    20160304      US    IL           Chicago            3
27    20160304      US    CA         Encinitas            2
28    20160304      US    CA         Riverside            2
29    20160304      US    CA         Roseville            2
30    20160304      US    CA        Sacramento            2
31    20160304      US    CA          San Jose            2
32    20160304      US    FL             Miami            2
33    20160304      US    MS          Gulfport            2
34    20160304      US    NC      Fayetteville            2
35    20160304      US    TX          Eastland            2
36    20160304      US    TX           Lakeway            2
37    20160304      CA    BC          Victoria            2
38    20160304      US    IL        Loves Park            1
39    20160304      US    NC       Mooresville            1
40    20160226      US    TX       san antonio            5
41    20160226      US    FL           Orlando            5
42    20160226      US    TX           Houston            4
43    20160226      US    AZ            Tucson            4
44    20160226      US    CA            Fresno            3
45    20160226      US    HI          Honolulu            3
46    20160226      US    NV         Las Vegas            3
47    20160226      US    AZ              Mesa            3
48    20160226      US    CA         Palo Alto            2
49    20160226      US    CA          Berkeley            2
50    20160226      US    CA         Santa Ana            2
51    20160226      US    CA       Simi Valley            2
52    20160226      US    CT         New Haven            2
53    20160226      US    IL      Crystal Lake            2
54    20160226      US    TX             Plano            2
55    20160226      US    OK            Lawton            2
56    20160226      US    TX           Killeen            2
57    20160226      US    AL        Birmingham            2
58    20160226      CA    SK         Moose Jaw            1
59    20160226      US    FL        Boca Raton            1
60    20160219      CA    ON           Toronto          208
61    20160219      US    IL           Chicago          134
62    20160219      US    CA     San Francisco          125
63    20160219      US    TX            Austin          122
64    20160219      US    CA         San Diego          119
65    20160219      US    CA       Los Angeles          107
66    20160219      US    TX           Houston           91
67    20160219      US    FL             Miami           87
68    20160219      US    CA          San Jose           86
69    20160219      US    OR          Portland           86
70    20160219      US    WA           Seattle           79
71    20160219      US    TX            Dallas           71
72    20160219      US    CO            Denver           70
73    20160219      CA    MB          Winnipeg           56
74    20160219      US    CO  Colorado Springs           53
75    20160219      US    AZ           Phoenix           51
76    20160219      CA    ON       Mississauga           48
77    20160219      US    WA            Tacoma           46
78    20160219      CA    AB           Calgary           46
79    20160219      US    CA             Chico           41

## Top 20 Cities that have lost stores

In [7]:
cursor.execute("""select ds as "Report Date", country as "Country", state as "State", city as "City", store_cnt as "Store Count" from 
report_fs_store_by_city_stats where category = 'Top20_Lose' order by ds desc, store_cnt desc limit 100""")
cities = cursor.fetchall()
data = [[item for item in value] for value in cities]
columns = ['Report Date', 'Country', 'State', 'City', 'Store Count']

df = pd.DataFrame(data, columns=columns)
df.head(100)

   Report Date Country State               City  Store Count
0     20160311      US    CA          San Diego            5
1     20160311      CA    SK          Saskatoon            4
2     20160311      US    IL            Chicago            4
3     20160311      CA    ON            Toronto            3
4     20160311      US    CA           Murrieta            2
5     20160311      US    CA         Santa Cruz            2
6     20160311      CA    ON             Ottawa            2
7     20160311      CA    ON             Guelph            2
8     20160311      CA    NL         St. John's            1
9     20160311      CA    ON     Richmond Hill,            1
10    20160311      CA    ON         Port Perry            1
11    20160311      CA    NB            Moncton            1
12    20160311      US    WA           Lakewood            1
13    20160311      US    CA           Berkeley            1
14    20160311      US    VA        King George            1
15    20160311      US    TX            Bacliff            1
16    20160311      US    NY      Staten Island            1
17    20160311      US    NJ       South Orange            1
18    20160311      US    MI      Cedar Springs            1
19    20160311      US    CA          Vacaville            1
20    20160304      US    WA            Spokane            3
21    20160304      US    CA        Westminster            3
22    20160304      US    CA      San Francisco            3
23    20160304      US    TX            Houston            2
24    20160304      US    OH         Cincinnati            2
25    20160304      US    TX              Plano            2
26    20160304      US    CA            Anaheim            2
27    20160304      CA    ON            Toronto            2
28    20160304      CA    AB         Vegreville            1
29    20160304      US    TX             Spring            1
30    20160304      US    NJ             Totowa            1
31    20160304      US    TX               Katy            1
32    20160304      CA    BC          Vancouver            1
33    20160304      US    TX           Ft Worth            1
34    20160304      CA    ON           Kingston            1
35    20160304      US    AR         Springdale            1
36    20160304      US    FL            Margate            1
37    20160304      US    IL       Carol Stream            1
38    20160304      US    NY          Jamestown            1
39    20160304      US    OH         Cincinatti            1
40    20160226      US    CA              Chico            2
41    20160226      US    GA      Lawrenceville            2
42    20160226      US    CA     Imperial Beach            2
43    20160226      US    CO            Greeley            1
44    20160226      US    CO   Colorado Springs            1
45    20160226      US    CA        Westminster            1
46    20160226      US    CA           San Jose            1
47    20160226      US    CA    Fountain Valley            1
48    20160226      US    CA          Cupertino            1
49    20160226      US    FL        Miami Beach            1
50    20160226      US    GA            Atlanta            1
51    20160226      US    TX       Pflugerville            1
52    20160226      US    TX          Grapevine            1
53    20160226      US    TX            Andrews            1
54    20160226      US    OK            Crowder            1
55    20160226      US    NJ  Monmouth Junction            1
56    20160226      US    MO        SPringfield            1
57    20160226      US    MD             Elkton            1
58    20160226      US    IL           La Salle            1
59    20160226      US    CA    American Canyon            1